/* Home.css */

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f4f4f4;
  overflow-y: auto; /* Habilitar el scroll vertical */
  scrollbar-width: thin; /* Para navegadores Firefox */
}

.home-title {
  font-size: 2rem;
  font-weight: bold;
  color: #008080;
  margin-bottom: 20px;
}

.home-loading,
.home-success {
  font-size: 1.2rem;
}

.home-loading {
  color: #555;
}

.home-success {
  color: #008000;
}

/* Estilos específicos para el scroll */
.home-container::-webkit-scrollbar {
  width: 8px; /* Ancho del scrollbar */
}

.home-container::-webkit-scrollbar-thumb {
  background-color: #A2195B; /* Color del scrollbar thumb */
  border-radius: 4px; /* Bordes redondeados */
}

.home-container::-webkit-scrollbar-track {
  background-color: #f4f4f4; /* Color de fondo del scrollbar track */
}